body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background);
  color: var(--color);
  transition: .5s;
}

.header-wrapper {
  background: var(--background);
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 30px 0;
  transition: .5s;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav-link {
  color: var(--color);
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  transform: .5s;
}

.header .nav-link:hover {
  color: var(--colorhover);
  transform: .5s;
}
.header .nav-link:after{
  width: 0;
  height: 1px;
  content: '';
  position: absolute;
  background-color: var(--background);
  bottom: 0;
  left: 0;
  transform: .5s;
}
.header .nav-link:hover:after{
  background-color: var(--colorhover);
  transform: .5s;
}
.header .nav-link.active:after{
  width: 100%;
  transition: .5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.headding {
  position: absolute;
  bottom: 0;
  left: 30px;
  text-shadow: 5px 5px 20px #000;
}

h1 {
  font-size: 100px;
  color: var(--colorhover);

}

.image {
  position: relative;
  height: 0;
  padding-bottom: 130%;
  transition: all 0.5s ease;
}


.movie-item {
  cursor: pointer;
}

.movie-item .image {
  border-radius: 20px;
  overflow: hidden;
}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-movie-list .movie-list:hover .movie-item {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.section-movie-list .movie-list .movie-item:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.movie-list .image:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.listing .image {
  transition: all 0.5s ease;
}

.popup.show {
  display: block;
}

.popup {
  /* display: none; */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-wrapper {
  padding: 100px 30px 30px;
  width: fit-content;
  margin: auto;
}

.popup-inner {
  max-width: 900px;
  margin: auto;
  min-height: 500px;
  height: fit-content;
  max-height: calc(100vh - 100px);
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 500;
}

a.h2 {
  text-decoration: none;
  color: var(--color);
}

a.h2:hover {
  color: var(--colorhover)
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--color);
  font-size: 30px;
  line-height: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #00000057;
  position: absolute;
  z-index: -1;
}

body .swiper {
  margin: 0 20px;
  padding: 40px 20px;
}

body .swiper>div {
  overflow-y: visible;
}

.content {
  padding: 35px;
  position: relative;
}

.popup .image {
  height: 500px;
  width: 300px;
  padding: 0;
}

.popup .image img {
  height: 500px;
  width: 300px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
}

.background-wrapper {
  position: relative;
  height: 70vh;
  min-height: 500px;
  max-height: 1000px;
  width: 100%;
}

.background-wrapper iframe {
  transform: scale(1.6);
  -o-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  pointer-events: none;
}

.section-background {
  overflow: hidden;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: var(--colorhover);
  text-decoration: none;
}

.watch:hover {
  color: var(--color);
}

.swich-theme {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 40px;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;

}

.button {
  cursor: pointer;
  color: var(--color);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.button:hover {
  color: var(--colorhover);
}

main {
  padding-top: 86px;
}

.button .text {
  padding-bottom: 5px;
}

.button .icon {
  margin-left: 10px;
  padding-top: 2px;
}

.ratting-star {
  position: relative;
  margin: 0 10px;
  color: #ff8c00;
}

.full-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% / 5 * var(--rating));
  overflow: hidden;
}

.background-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  width: 100%;
}

.background-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-listing-wrapper a {
  position: absolute;
  font-size: 50px;
  z-index: 1;
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-weight: 900;
  text-shadow: 5px 5px 15px #000;
  height: 100%;
  top: 0;
  left: 20px;
}

.background-listing-wrapper {
  position: relative;
  overflow: hidden;
}

.listing .movie-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}
.list-page{
  display: grid;
  grid-template-columns: auto auto;
}